body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#slettAlle {
    background-color: #2c3e50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold; /* Legg til denne linjen for å sikre fet tekst */
    letter-spacing: normal; /* Legg til denne linjen for å sikre normal bokstavavstand */
    font-size: 16px;
}

#slettAlle:hover {
    background-color: #3d6fa6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}